import url('https://fonts.googleapis.com/css?family=Bungee|Open+Sans|Pacifico');

body {
  font-family: 'Open Sans', sans-serif;
}
header {
  position: relative;
  margin: 4rem;
  text-align: center;
}
h1 {
  position: sticky;
  left: 0;
  top:0;
  width: 20%;
  text-align: center;
  margin-top: 1rem;
  font-family: 'Bungee', cursive;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 30px #fff,
               0 0 40px #62e6ff,
               0 0 70px #62e6ff,
               0 0 80px #62e6ff,
               0 0 100px #209ab2,
               0 0 150px #209ab2;
}
h2 {
  font-family: 'Pacifico', sans-serif;
  background-color: rgb(255, 195, 242);
  text-align: center;
  margin-bottom: 0;
}

main {
  width: 80%;
  background-color:rgb(255, 195, 242);
  margin: 3rem auto;
}

button{
  background-color: #62e6ff
}
form{
  padding: 1rem;
}
.taskName {
  margin: 0 0.75rem
}

.template {
  display: none;
}

.actions .button {
  margin-bottom: 0;
}

.task.fav {
  background-color: #62e6ff;
}